TOKEN=Discord Token
API_KEY=Hypixel api token
PREFIX=v!
MONGODB_URI=mongodb://VQUzCLSs60TpfFcT9AViaS0VlVDlBTpLXTRrRdkCRO6mXkCCcYHV1us2k3DksZXd:fY2EL8sTwdVZRcvXssyb8jh85ut5hy6gbIcsYeDQxMUwd8O6x6loUumhxz3LKgqt@mongodb:27017
REDIS_URI=redis://default:fY2EL8sTwdVZRcvXssyb8jh85ut5hy6gbIcsYeDQxMUwd8O6x6loUumhxz3LKgqt@redis:6379